@import 'tailwindcss';

/* Cairo Font Family */
@font-face {
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('/fonts/Cairo-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/fonts/Cairo-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Cairo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Cairo-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Cairo-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/Cairo-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('/fonts/Cairo-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/Cairo-Black.ttf') format('truetype');
}

/* Cinzel Font Family */
@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Cinzel-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Cinzel-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Cinzel-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/Cinzel-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('/fonts/Cinzel-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Cinzel';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('/fonts/Cinzel-Black.ttf') format('truetype');
}

:root {
	--background: #ffffff;
	--foreground: #0f171f;
}

:root.dark {
	--background: #0f171f;
	--foreground: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-cairo: 'Cairo', ui-sans-serif, system-ui, sans-serif;
	--font-cinzel: 'Cinzel', ui-serif, Georgia, serif;
}

@media (prefers-color-scheme: dark) {
	:root:not(.light) {
		--background: #0f171f;
		--foreground: #ffffff;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
